@font-face {
    font-family: 'Norse Bold';
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 35vh 1fr 35vh;
    gap: 10px;
}

.container div {
    overflow: hidden;
}

.side-card-container {
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
}

.card-img {
    height: 100vh;
}

.logo-bg {
    position: absolute;
    display: flex;
    height: 200px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
    top: 30%;
    justify-content: center;
    text-align: center;
}

.logo-bg img {
    width: auto;
    height: auto;
    max-width: 170px;
    max-height: 170px;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-bg h1 {
    font-family: 'Norse Bold', Arial, Helvetica, sans-serif ;
    font-size: 130px;
    margin: 0;
    align-self: end;
}

.form-header {
    margin-top: auto;
    padding: 30px;    
}

.form-header h2 {
    max-width: 45vw;
    font-size: 28px;
    font-weight: 500;
}

.form > form {
    width: 100%;
}

.form {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: fit-content;
}    

.form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form .input-box {
    width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0;
}

.user-details .input-box input {
    height: 40px;
    width: 70%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #596D48;
}

.user-details .input-box label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form h2 {
    padding-left: 15px;
    font-weight: 500;
}

.form ul li>* {
    width: 100%;
}

.button {
    padding: 20px;
}

.button button {
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    background-color: #596D48;
    color: white;
    border-style: none;
}

.button a {
    color: #596D48;
    font-weight: 700;
}

.button > p {
    margin-top: 40px;
}

